.photo__arrow-right {
	right: 25px;
  background: #fff url(../../../images/photo/arrow-right.svg) no-repeat 34px 26px;
  height: 80px;
	position: absolute;
	width: 80px;
	top: 50%;
	cursor: pointer;
  box-shadow: 0 1px 8px rgb(0 0 0 / 6%), 0 2px 4px rgb(0 0 0 / 12%);
	border-radius: 100px;
	border: 1px black;
}