.main__title {
  margin: 0;
  color: white;
  font-size: 110px;
  font-weight: 700;
  z-index: 5;
}

.main__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: .8;
  z-index: -1; 
}
